// bower:scss
// endbower
$blue: #30C0D8;
$red: #C02533;
$white: #F6FSF3;
$grey: #4F4F4F;

$fran: 'Francois One', sans-serif;
$goth: 'Didact Gothic', sans-serif;


// GENERAL STYLES


h1,h2,h3, nav ul a, h4, h5{
  font-family: $fran;
}
p , a {
  font-family: $goth;
}
.button {
  background-color: $red;
  padding: 1rem 1rem;
  font-size: 2.2em;
  color: white;
}
#sidenav-overlay{
  display: none!important;
}
body{
  background-color: #FFF;
}
a{
  cursor: pointer!important;
}
nav{
  position: fixed;
  height: 47px;
  top: 0;
  transition: top 0.1s ease-out;
  width: 100%;
  z-index: 9999;
  background-color: $blue;
  .container{
    width: 100%;
  }
}
nav ul a {
  color: $white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
nav ul li:hover{
  background-color: rgba(255,255,255,0.4);
}
nav ul a:hover {
  transition: color 0.3s ease-in-out;
}
.brand-logo{
  img{
  height: 57px;  
  }
}
.nav-wrapper,
i.mdi-navigation-menu{
  line-height: 47px;
}
i.mdi-navigation-menu{
  padding-right:10px;
  color: white;
}

nav .button-collapse i {
  font-size: 2.7rem;
  height: 47px;
  line-height: 47px;
}


.nav-up{
  top: -57px;
}


#process{
  figcaption{
    h2{
      font-size: 2.3em;
    }
  }
  h3{
    color: $grey;
  }
  img{
    opacity: 0.4;
  }
  .icon-block {
    height: 300px;
    width: 300px;
  }
    #stepThree{

    }

    #stepTwo{

    }
    #stepOne{

    }

}





#index-banner{
  background-image: url('../images/video-stock-white.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 620px;
  .header{
    margin:0;
    color: $grey;
  }
  h2{
    margin-top: 10px;
    padding-top: 2rem;
    font-size: 2.3rem;
    color: $blue;
  }
}



#info-banner{
  background-color: $grey;
  color: white;
  padding: 3rem 0;
  img{
    max-height: 200px;
  }

}


#box-container{
  .info-box{
    height: 300px;
    width: 100%;
  }
}

#work-container{
  min-height: 400px;
  background-color: $red; 
  padding: 0;
  margin:0;
  .row{
    padding: 1em;
    margin:0;
  }
}






// PARTICLE EFFECT


#particles-js {
  padding-top:5em;
  margin-top: 0;
  position: absolute;
  right: 0;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.particles-js-canvas-el{
  position: absolute;
  top: 0;
}






// FIGURE hover
.grid {
  position: relative;
  margin: 0 auto;
  padding: 2em 0 0em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 300;
  max-width: 300px;
  max-height: 300px;
  width: 48%;
  text-align: center;
  cursor: pointer;
}
.red-fig{
    background: #C02533;
}
.grey-fig{
    background: #4F4F4F;
}
.blue-fig{
  background: #30C0D8;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: .95;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Dexter *****/
/*---------------*/

figure.effect-dexter:hover {
  background: -webkit-linear-gradient(top, rgba(48,192,216,1) 10%, rgba(158,192,171,1) 100%);
  background: linear-gradient(to bottom, rgba(48,192,216,1) 10%,rgba(158,192,171,1) 100%); 
}

figure.effect-dexter img {
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-dexter:hover img {
  background: -webkit-linear-gradient(top, rgba(192,37,51,1) 10%, rgba(158,192,171,1) 100%);
  background: linear-gradient(to bottom, rgba(192,37,51,1) 10%,rgba(158,192,171,1) 100%); 
  opacity: 0.1;
}

figure.effect-dexter figcaption::after {
  position: absolute;
  right: 30px;
  bottom: 30px;
  left: 30px;
  height: -webkit-calc(50% - 30px);
  height: calc(50% - 30px);
  border: 7px solid #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

figure.effect-dexter:hover figcaption::after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-dexter figcaption {
  padding: 3em;
  text-align: left;
}

figure.effect-dexter p {
  position: absolute;
  right: 60px;
  bottom: 60px;
  left: 60px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100px,0);
  transform: translate3d(0,-100px,0);
}

figure.effect-dexter:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}




@media only screen and (min-width: 601px){
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 47px;
    line-height: 47px;
  }
}



